<div>
    <a data-toggle="modal" onclick="{{name}}.settings()" class="btn btn-primary btn-small">Settings</a>
</div>

{% if error %}
<div class="alert alert-error">
    <strong>Error: </strong> {{error}}
</div>
{% else %}

<h2>Downloaded Shows</h2>
<ul>
    {% for show in shows %}
    <li>{{ show.full_name() }}</li>
    {% endfor %}
</ul>

{% endif %}