<div class="modal-header">
    <h3>SickBeard Settings</h3>
</div>

<div class="modal-body">
    <form>
        <table>
            <tr>
                <td><label for="host">SickBeard Host:</label></td>
                <td><input type="text" id="host" value="{{host}}"/></td>
            </tr>
            <tr>
                <td><label for="apikey">API Key: </label></td>
                <td><input type="text" id="apikey" value="{{apikey}}" /></td>
            </tr>
        </table>
        <a onclick="{{name}}.saveCredentials(this)" class="btn btn-danger">Save</a>
    </form>
</div>

<div class="modal-footer">
    <a onclick="{{name}}.exitSettings()" class="btn btn-primary">Close</a>
</div>
